body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
}

h1 {
  margin-top: 7px;
  margin-bottom: 7px;
}

h2 {
  margin-top: 0px;
  border-bottom:1px solid #DFDFDF;
  padding-bottom: 5px;
}

a {
  color: #39c;
  text-decoration: none;
}

ul {
  padding-left: 20px;
}

a:hover {
  color: #083D82;
  text-decoration: none;
}

.parent {
  display: flex;
  width: 70%;
  max-width: 1100px;
  margin: auto;
  margin-top: 50px;
}

.left-child {
  flex: 1.2;
  padding-right: 20px;
}

.right-child {
  flex: 2.2;
  padding-left: 20px;
}

.profile {
  float: right;
  text-align: left;
}

.profile-image {
  border-radius: 7px;
}

.links {
  margin: 5px 0 5px 0;
}

.icon {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

.linkedin {
  content: url('/assets/linkedin.jpg');
}

.email {
  content: url('/assets/email.jpg');
}

.links a {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
}

.socials {
  margin-top: 11px;
  font-size: 13.5px;
}

@media screen and (max-width: 500px) {
  .parent {
    width: 90%;
    display: block; /* Stops it from floating */
    margin: auto; /* Ensures that it is centered */
    margin-top: 25px; /* Space between the stacked elements */
  }

  .profile {
    float: none;
  }

  .right-child {
    padding-left: 0;
    margin-top: 25px;
  }
}